:root {
    font-size: 16px;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background:#cecece;
    overflow: hidden;
    padding: 20px 20px 0 20px;
    .slab {
        padding: 0 0 300px 0;
        .box {
            height: 100px;
            width: 100px;
        }

        .a {
            background-color: red;
            color: white;
        }
        .b {
            background-color: orange;
            color: white;
        }

        .c {
            background-color: purple;
            color: white;
        }
        &:first-child {
            padding-top: 300px;
        }
    }
}